# Data Science Tools and Ecosystem

## Author
David Ulises PÃ©rez Maldonado

**Objectives:**
- Make Markdown to make the document easier to read
- List the most common languages in Data Science, as well as the most common development environments used.
- Program to demonstrate the Python language.

In this notebook, Data Science Tools and Ecosystem are summarized.

Here, we list some of the most common languages used in data science:
1. Python
2. R
3. Scala
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scikit learn
4. Beautiful Soup

| Data Science Tools      |
|------------------------|
| Jupyter Notebook       |
| RStudio                |
| Apache Zeppelin        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic code that multiplies and sums an integer
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335